header{
    height: 0.86rem;
    width: 100%;
    padding: 0 0.24rem;
    display: flex;
    justify-content: space-between;
    /* box-shadow: 0 .005rem 0 rgba(0, 0, 0, 0.2); */
    margin-top: .38rem;
}
header .back{
    height: 100%;
    width: 0.25rem;
    background: url('../img/Back.png') no-repeat center;
}
header .title{
    font-size: 0.38rem;
    color: #4ebbfe;
    line-height: 0.86rem;
}
header .list{
    width: 0.48rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .list .dot{
   /*  background: #36a8fe; */
    height: 0.08rem;
    width: 0.08rem;
    border-radius: 50%;
}
.Content_line{
    width: 100%;
    height: 0.09rem;
    background: #f1faff;
    margin-top: .88rem;
}
.Content_box{
    width: 100%;
    height: 11.97rem;
    background: #fbffff;
}
.Contact_box{
    width: 100%;
    height: 6.41rem;
    background: yellow;
    display: flex;
    flex-wrap: wrap;
}
.Contact_box_contact{
    width: 100%;
    height: 1.61rem;
    background: #fbfeff;
}
.top{
    width: 6.81rem;
    height: 0.78rem;
    background: #fbfeff;
    font-size: 0.26rem;
    line-height: 0.78rem;
    margin-left: 0.23rem;
    margin-right: 0.26rem;
    padding-left: 0.2rem;
    color: #41b2fc;
    position: relative;
}
.bottom{
    width: 7.01rem;
    height: 0.83rem;
    /*background: yellow;*/
    margin-left: 0.23rem;
    margin-right: 0.26rem;
    box-sizing: border-box;
    border-radius: 0.2rem;
}
.bottom input{
    width: 7.01rem;
    height: 0.83rem;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: #f1faff;
    padding: 0.38rem;
    box-sizing: border-box;
    border-radius: 0.2rem;
}
.spot{
    width: 0.1rem;
    height: 0.05rem;
    background: #44b5ff;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border-radius: 0.1rem;
}
.Button{
    width: 4.54rem;
    height: 0.6rem;
    outline: none;
    border: none;
    background-image: -webkit-linear-gradient(0deg,#37e06f,#32d69a);
    border-radius: 0.3rem;
    display: block;
    margin: 0.68rem auto;
    font-size: 0.19rem;
    color: #ffffff;
    text-align: center;
    line-height: 0.6rem;
    box-shadow: 0 0 0.2rem 0.1rem rgba(52,218,135,0.2);
}
.dingwei{
    position: relative;
}
.tiaozhuan{
    width: 0.18rem;
    height: 0.24rem;
    /*background: yellow;*/
    position: absolute;
    right: 0.23rem;
    top: 0.3rem;
    font-size: 0.24rem;
    text-align: center;
    line-height: 0.24rem;
    color: #36a8fe;
}
