.cover{
	width: 100%;
	height: 100%;
	/* opacity: .2; */
	background-color: #fff;
	/* display: flex; */

}
.cover_btn{
	position: absolute;
	top: 8.43rem;
	left: 1.34rem;
	right: 1.34rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.llll{
	/* display: none; */
}

.cover_leftbtn p{
	font-size: .24rem;
	font-weight: bold;
	color: #ccc;
	text-align: center;
}
.cover_rightbtn p{
	font-size: .24rem;
	font-weight: bold;
	color: #ccc;
	text-align: center;
}
.cover_leftbtn img{
	width: 2.22rem;
	height: 2.22rem;
}
.cover_rightbtn img{
	width: 2.22rem;
	height: 2.22rem;
}
.bottom_x{
	font-size: .2rem;
	font-weight: bold;
	width: .5rem;
	height: .5rem;
	border-radius: 50%;
	background-color: #F2F5F7;
	/* background: blue; */
	color: #333;
	text-align: center;
	position: absolute;
	bottom: .4rem;
	left: 3.5rem;
	right: 3.5rem;
	line-height: .5rem;
}