/*
* @Author: Lenovo
* @Date:   2018-09-28 17:16:11
* @Last Modified by:   Lenovo
* @Last Modified time: 2018-09-28 23:31:59
*/
header{
    height: 0.86rem;
    width: 100%;
    padding: 0 0.24rem;
    display: flex;
    justify-content: space-between;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
header .back{
    height: 100%;
    width: 0.25rem;
    background: url('../img/jt-back.png') no-repeat center;
    background-size: 0.25rem 0.41rem;
}
header .title{
    font-size: 0.38rem;
    color: #4ebbfe;
    line-height: 0.86rem;
    background: #fff;
}
header .list{
    width: 0.48rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}


/*搜索框开始*/
section{
    width: 100%;
    height: 100%;
    padding-top: 0.1rem;
    /* padding-bottom: 0.2rem; */
    overflow: scroll;
    margin-top: 0.86rem;
}
.sousuo{
    width: 100%;
    height: 0.8rem;
    /*background:yellow;*/
    padding: 0 0.24rem;


}
.sousuo .juxin{
    width: 100%;
    height: 0.6rem;
    background-color: #ebf7ff;
    border-radius: 0.3rem;
    border: solid 0.03rem rgba(55, 169, 254, 0.17);
    opacity: 0.58;
    padding-top: 0.05rem;
    padding-left: 0.2rem;
    padding-right: 0.1rem;
    display:flex;
    justify-content: space-between;
}
.sousuo .juxin input{
    border:none;
    outline: none;
    background: #ebf7ff;
    opacity: 0.58;
}
.sousuo .juxin .click{
    width: 0.79rem;
    height: 0.44rem;
    background-color: #a4e0bd;
    border-radius: 0.21rem;
}
.sousuo .juxin .click img{
    height: 0.48rem;
    width: 0.47rem;
    margin-bottom: 0.55rem;
    margin-left: 0.15rem;
}

/*搜索框结束*/



main{
    width: 100%;
    height: 2.75rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 0.3rem 0.6rem 0.02rem #edf8ff;
}
.top{
    width: 100%;
    height: 1.74rem;
    padding-left: .12rem;
    padding-right: .08rem;
    box-sizing: border-box;
    background: #fff;
}
.top .left{
    width: 1.74rem;
    height: 1.74rem;
    border-radius: 5px;
    float: left;
    background: url("../img/dp-pic.png") no-repeat center;
    background-size: cover;
    margin-right: .23rem;
    box-shadow: 0 0 .15rem .1rem rgba(195,200,203,0.1);
    margin-left: 0.24rem;
}
.top .right{
    width: 4.84rem;
    height: 100%;
    float: right;
    background: #fff;
}
.top .right .word_big{
    width: 100%;
    height: .29rem;
    background: #fff;
}
.top .right .word_big .word_L{
    font-size: .28rem;
    color: #646666;
    float: left;
    line-height: .29rem;
      background: #fff;
}
.top .right .grade{
    width: 100%;
    height: .22rem;
    margin-top: .2rem;
}
.top .right .grade li{
    width: 1.6rem;
    height: .22rem;
    float: left;
}
.top .right .grade .dian{
    width: 0.05rem;
    height: 0.05rem;
    background: #44b5ff;
    box-shadow: 0 .06rem .1rem .02rem rgba(199,233,255,1);
    margin-top: .08rem;
    margin-right: .08rem;
    float: left;
    border-radius: 50%;
}
.top .right .grade .word{
    font-size: .22rem;
    color: #afb1b2;
    line-height: .22rem;
    float: left;
      background: #fff;
}
.top .right .grade .five{
    color: #36a8fe;
    margin-left: .12rem;
      background: #fff;
}
.top .right .comment{
    width: 100%;
    height: .34rem;
    margin-top: .19rem;
      background: #fff;
}
.top .comment .box{
    width: .21rem;
    height: .21rem;
    border-radius: 50%;
    background: url("../img/dp-clock.png") no-repeat center;
    background-size: contain;
    margin-top: .06rem;
    margin-right: .08rem;
    float: left;
}
.top .comment .word{
    color: #a4e0bd;
    font-size: .2rem;
    line-height: .34rem;
    float: left;
    background: #fff;
}
.top .right .bottom{
    width: 100%;
    height: .44rem;
    overflow: hidden;
    margin-top: .03rem;
    background: #fff;
}
.top .right .bottom .btn1{
    width: 2.23rem;
    height: .35rem;
    border-radius: .17rem;
    background: #e7f6ff;
    color: #36a8fe;
    font-size: .18rem;
    line-height: .35rem;
    text-align: center;
    float: left;
    margin-top: .09rem;
}
.top .right .bottom .btn2{
    width: 1.24rem;
    height: .44rem;
    background: #3bacfe;
    border-radius: .22rem;
    color: #fff;
    font-size: .18rem;
    text-align: center;
    line-height: .44rem;
    float: right;
}


/* 选项 */
.option{
    margin-top: 0.4rem;
    height: 1.04rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.46rem;
    background: #FBFEFF;
    width: 100%;
}
.option .option-box{
    height: 0.53rem;
    width: 1.33rem;
    background: #E7F6FF;
    border-radius: 0.24rem;
    color: #3BACFE;
    font-size: 0.2rem;
    text-align: center;
    line-height: 0.53rem;
}

.option .action{
    background: #3BACFE;
    color: #fff;
}



/* 2 */
.change{
    height: 0.72rem;
    width: 100%;
    background: #3BACFE;
    padding: 0 0.38rem;
    display: flex;
    justify-content: space-between;
}
.change .table{
    width: 1.37rem;
    height: 100%;
    color: #B1DEFF;
    font-size: 0.2rem;
    text-align: center;
    line-height: 0.72rem;
    border-bottom: 0.04rem solid #3BACFE;
}
.change .active1{
    color: #fff;
    border-bottom: 0.04rem solid #fff;
}













/* 全部服务 */
.serverbox{
    width: 100%;
    height:7.54rem;
    position: relative;
}
.server{
    width: 100%;
    background:#FAFDFE;
    position: absolute;
    top: 0;
    left: 0;
    /* height: 7.54rem; */
}

.server .baglist{
    height: 2rem;
    width: 100%;
    padding: 0 0.24rem;
    margin: 0.3rem 0;
    display: flex;
    justify-content: space-between;
}
.server .baglist .pics{
    width: 2rem;
    height: 2rem;
}
.server .baglist .content{
    width: 4.76rem;
    height: 2rem;
}
.server ul li{
    margin: 0.3rem 0;
    height: 2rem;
    padding: 0 0.24rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.server ul li .pic{
    height: 2rem;
    width: 2rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.1rem;
    margin-top: 0.2rem;
    box-shadow: 0 0 0.1rem 0.05rem rgba(245,247,248,1);
}

.server ul li .pic img{
    height: 75%;
    width:65% ;
}
.server ul li .text{
    width: 4.76rem;
    height: 100%;
}
.server ul li .text h4{
    margin-top: 0.1rem;
    font-size: 0.3rem;
    color: #646666;
}
.server ul li .text h5{
    font-size: 0.22rem;
    font-weight: 400;
    color: #B2B4B5;
    margin-top: 0.05rem;
}
.server ul li .text .pingcase{
    height: 0.6rem;
    width: 100%;
    border-top: 0.01rem solid #F0F5F7;
    margin-top: 0.17rem;
    display: flex;
    justify-content: space-between;
}
.server ul li .text .ping{
    height: 0.6rem;
    width: 2.7rem;
    display: flex;
    justify-content: space-between;
}
.server ul li .text .ping .pingbox{
    width: 1.12rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.server ul li .text .ping .pingbox .bot{
    height: 0.05rem;
    width: 0.05rem;
    background: #44B5FF;
    border-radius: 50%;
}
.server ul li .text .ping .pingbox .bot1{
    height: 0.05rem;
    width: 0.05rem;
    background: #36D681;
    border-radius: 50%;
}
.server ul li .text .ping .pingbox .word{
    color: #AFB1B2;
    font-size: 0.2rem;
}
.server ul li .text .ping .pingbox span {
    color: #36a8fe;
    font-size: 0.24rem;
    display: inline;
}
.server ul li .text .ping .pingbox .flog{
    color: #b9e1ff;
    font-size: 0.24rem;
    display: inline;
}
.server ul li .pingcase .price{
    height: 100%;
    width: 1.14rem;
    color: #fbb548;
    font-size: 0.26rem;
    text-align: center;
    line-height:0.6rem; 
}
.server ul li .bag{
    height: 0.33rem;
    width: 100%;
}
.server ul li .bag .bag_pic{
    height: 0.35rem;
    width: 0.35rem;
    /* background: url('../img/baodashi.png') center cover; */
}
.server ul li .sale{
    width: 100%;
    height: .44rem;
    overflow: hidden;
    margin-top: .03rem;
    display: flex;
    justify-content: flex-start;
}
.server ul li .sale .box{
    width: .3rem;
    height: .3rem;
    float: left;
    margin-right: .1rem;
    background: url("../img/baodashi.png") no-repeat center;
    background-size: cover;
}
.server ul li .sale .text{
    font-size: 0.16rem;
    color: #afb1b2;
    float: right;
}






