header{
	height: 0.86rem;
	width: 100%;
	padding: 0 0.24rem;
	display: flex;
	justify-content: space-between;
	box-shadow: 0rem 0 0.4rem 0.1rem #EDF8FF;
}
header .back{
	height: 100%;
	width: 0.25rem;
	background: url('../img/back.png') no-repeat center;
	background-size: 0.25rem 0.41rem;
}
header .title{
	font-size: 0.38rem;
	color: #4ebbfe;
	line-height: 0.86rem;
}
header .list{
	width: 0.25rem;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* header .list .dot{
	background: #36a8fe;
	height: 0.08rem;
	width: 0.08rem;
	border-radius: 50%;
} */
.container{
	width: calc(100% - 1.02rem);
	height: 100%; 
	margin: 0 auto;
}
.content{
	width: 100%;
}
.content img{
	width: 0.18rem;
	height: 0.13rem;
	margin: auto 0;
}
.content .title{
	width: 100%;
	height: 1.58rem;
	line-height: 1.58rem;
	letter-spacing: 0.04rem;
	border-bottom: 0.01rem solid #F6F9FA;
	margin-bottom: 0.8rem;
	display: flex;
	justify-content: center;
}
.content .title p{
	font-size: 0.25rem;
	text-align: center;
	color: #4B4C4C;
}
.content .text{
	font-size: 0.24rem;
	color: #7D7F7F;
	letter-spacing: 0.04rem;
}
