header{
	height: 0.86rem;
	width: 100%;
	padding: 0 0.24rem;
	display: flex;
	justify-content: space-between;
	box-shadow: 0rem 0 0.4rem 0.1rem #EDF8FF;
}
header .back{
	height: 100%;
	width: 0.25rem;
	background: url('../img/back.png') no-repeat center;
	background-size: 0.25rem 0.41rem;
}
header .title{
	font-size: 0.38rem;
	color: #4ebbfe;
	line-height: 0.86rem;
}
header .list{
	width: 0.25rem;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* header .list .dot{
	background: #36a8fe;
	height: 0.08rem;
	width: 0.08rem;
	border-radius: 50%;
} */
.container{
	width: calc(100% - 1.02rem);
	height: 100%; 
	margin: 0 auto;
}
.content{
	width: 100%;
}
.content .dot1{
	width: 0.18rem;
	height: 0.13rem;
	float: left;
	margin-top: 0.56rem;
}
.content .dot2{
	width: 0.18rem;
	height: 0.13rem;
	float: left;
	margin-top: 0.38rem;
}
.content .text1{
	width: 100%;
	height: 1.2rem;
	line-height: 1.2rem;
	font-size: 0.25rem;
	letter-spacing: 0.04rem;
	color: #7D7F7F;
	border-bottom: 0.01rem solid #F6F9FA;
	position: relative;
}
.content .text2{
	width: 100%;
	height: 0.84rem;
	line-height: 0.84rem;
	margin-top: ;
	font-size: 0.25rem;
	letter-spacing: 0.04rem;
	color: #7D7F7F;
	border-bottom: 0.01rem solid #F6F9FA;
	position: relative;
}
.content a{
	margin-left: 0.12rem;
}
.content .back1{
	width: 0.15rem;
	height: 0.24rem;
	position: absolute;
	right: 0;
	top: 0.54rem;
}
.content .back2{
	width: 0.15rem;
	height: 0.24rem;
	position: absolute;
	right: 0;
	top: 0.3rem;
}
