/*
* @Author: Lenovo
* @Date:   2018-09-26 20:59:16
* @Last Modified by:   Lenovo
* @Last Modified time: 2018-09-28 18:37:14
*/
*{
	background: #FBFEFF;
}
header{
	height: 0.86rem;
	width: 100%;
	padding: 0 0.24rem;
	display: flex;
	justify-content: space-between;
	background: #fff;
}
header .back{
	height: 100%;
	width: 0.25rem;
	background: url('../img/jt-back.png') no-repeat center;
	background-size: 0.25rem 0.41rem;
}
header .title{
	font-size: 0.38rem;
	color: #4ebbfe;
	line-height: 0.86rem;
	font-weight: bold;
	background: #fff;
}
header .list{
	width: 0.48rem;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
}
header .list .dot{
	background: #36a8fe;
	height: 0.08rem;
	width: 0.08rem;
	border-radius: 50%;
}


/* 选项 */
.option{
	height: 1.04rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.46rem;
	background: #fff;
}
.option .option-box{
	height: 0.53rem;
	width: 1.33rem;
	background: #E7F6FF;
	border-radius: 0.24rem;
	color: #3BACFE;
	font-size: 0.2rem;
	text-align: center;
	line-height: 0.53rem;
}
.option .active{
	background: #3BACFE;
	color: #fff;
}

/* 内容 */
section{
	width: 100%;
	height: 2.53rem;
	display: flex;
	justify-content: center;
	background:#FBFEFF;
}
section .icon{
	height: 2.53rem;
	width: 100%;
	padding:0.48rem 0.48rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.icon .icon-box{
	width:1.15rem;
	height: 100%;
}
.icon .icon-box .pic{
	height: 1.2rem;
	width: 100%;
}
.icon .icon-box .pic img{
	height: 100%;
	width: 100%;
}
.icon .icon-box .word{
	font-size: 0.24rem;
	color: #8e9397;
	text-align: center;
}

/* 全部服务 */
.server{
	background:#FAFDFE;
	height: 7.54rem;
}
.server .title{
	height: 0.38rem;
	width: 2rem;
	padding: 0 0.24rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.server .title .line{
	width: 0.1rem;
	height: 0.05rem;
	background: #44B5FF;
	margin-right: 0.1rem;
	border-radius: 0.02rem;
}
.server .title .word1{
	color: #41b2fc;
	font-size: 0.32rem;
	font-weight: bold;
}
.server .title .word2{
	color: #4f5b64;
	font-size: 0.32rem;
	font-weight: bold;
}
.server .baglist{
	height: 2rem;
	width: 100%;
	padding: 0 0.24rem;
	margin: 0.3rem 0;
	display: flex;
	justify-content: space-between;
}
.server .baglist .pics{
	width: 2rem;
	height: 2rem;
}
.server .baglist .content{
	width: 4.76rem;
	height: 2rem;
}
.server ul li{
	margin: 0.3rem 0;
	height: 2rem;
	padding: 0 0.24rem;
	display: flex;
	justify-content: space-between;
}
.server ul li .pic{
	height: 2rem;
	width: 2rem;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.1rem;
	box-shadow: 0 0 0.1rem 0.05rem rgba(245,247,248,1);
}

.server ul li .pic img{
	height: 75%;
	width:65% ;
}
.server ul li .text{
	width: 4.76rem;
	height: 100%;
}
.server ul li .text h4{
	margin-top: 0.1rem;
	font-size: 0.3rem;
	color: #646666;
}
.server ul li .text h5{
	font-size: 0.22rem;
	font-weight: 400;
	color: #B2B4B5;
	margin-top: 0.05rem;
}
.server ul li .text .pingcase{
	height: 0.6rem;
	width: 100%;
	border-top: 0.01rem solid #F0F5F7;
	margin-top: 0.17rem;
	display: flex;
	justify-content: space-between;
}
.server ul li .text .ping{
	height: 0.6rem;
	width: 2.7rem;
	display: flex;
	justify-content: space-between;
}
.server ul li .text .ping .pingbox{
	width: 1.12rem;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.server ul li .text .ping .pingbox .bot{
	height: 0.05rem;
	width: 0.05rem;
	background: #44B5FF;
	border-radius: 50%;
}
.server ul li .text .ping .pingbox .bot1{
	height: 0.05rem;
	width: 0.05rem;
	background: #36D681;
	border-radius: 50%;
}
.server ul li .text .ping .pingbox .word{
	color: #AFB1B2;
	font-size: 0.2rem;
}
.server ul li .text .ping .pingbox span {
	color: #36a8fe;
	font-size: 0.24rem;
	display: inline;
}
.server ul li .text .ping .pingbox .flog{
	color: #b9e1ff;
	font-size: 0.24rem;
	display: inline;
}
.server ul li .pingcase .price{
	height: 100%;
	width: 1.14rem;
	color: #fbb548;
	font-size: 0.26rem;
	text-align: center;
	line-height:0.6rem; 
}
.server ul li .bag{
	height: 0.33rem;
	width: 100%;
}
.server ul li .bag .bag_pic{
	height: 0.35rem;
	width: 0.35rem;
	/* background: url('../img/baodashi.png') center cover; */
}
.server ul li .sale{
    width: 100%;
    height: .44rem;
    overflow: hidden;
    margin-top: .03rem;
    display: flex;
    justify-content: flex-start;
}
.server ul li .sale .box{
    width: .3rem;
    height: .3rem;
    float: left;
    margin-right: .1rem;
    background: url("../img/baodashi.png") no-repeat center;
    background-size: cover;
}
.server ul li .sale .text{
    font-size: 0.16rem;
    color: #afb1b2;
    float: right;
}


/* 底部 */
footer{
    width: 100%;
    height: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 0 .54rem;
    background:#F6FBFF;
}
footer ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
     background:#F6FBFF;
}
footer li{
    width: .49rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: .08rem;
}
footer li img{
    height: .45rem;
    color: #59c3fe;
    line-height: .55rem;
    display: block;
    margin:0 auto;
     background:#F6FBFF;
}
footer li i{
    font-size: .45rem;
    color: #59c3fe;
    line-height: .55rem;
    display: block;
    margin:0 auto
}
footer li h3{
    display: flex;
    font-size: .22rem;
    color: #59c3fe;
	 background:#F6FBFF;
}