*{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
header{
    width: 100%;
    height: .89rem;
    display: flex;
    margin-top: .4rem;
    padding: 0 .23rem;
    box-sizing: border-box;
    box-shadow: 0 .15rem .3rem #f4fbff;
}
header p{
    width: 100%;
    height: .89rem;
    display: block;
    color: #4ebbfe;
    line-height: .89rem;
    font-size: .31rem;
    text-align: center;
    position: relative;
}
header span{
    line-height: .89rem;
    font-size: .31rem;
    color: #4ebbfe;
    position: absolute;
    left: 0;
    top:0;
    bottom:0;
    margin:auto 0;
}
main{
    width: 5.18rem;
    margin: 2.29rem auto 0;
}
main .topword{
    width: 100%;
    height: .61rem;
    border-bottom: 1px solid #eef1f2;
    box-sizing: border-box;
    padding: 0 .84rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}
main .topword h3{
    display: block;
    text-align: center;
    color: #c9cbcc;
    font-size: .3rem;
}
main .topword .hot{
    color: #646666;
}
main .topword .borderBottom{
    width: .92rem;
    height: .06rem;
    background: #5cb3f1;
    position: absolute;
    left: .99rem;
    bottom: -0.03rem;
}
main ul{
    width: 86%;
    margin: 0 auto;
}
main li{
    width: 100%;
    height: .72rem;
    position: relative;
    box-sizing: border-box;
    padding-left: .6rem;
    margin-top: .2rem;
    border-bottom: 1px solid #eef1f2;
    position: relative;
}
main li h3{
    font-size: .26rem;
    font-weight: normal;
    line-height: .44rem;
    color: #afb1b2;
}
main li h3 a{
    width: .5rem;
    height: .4rem;
    display: inline-block;
    background: #fff;
    margin-right: .3rem;
    font-size: .3rem;
    color: #3bacfe;
    line-height: .4rem;
}
main li:nth-child(2) button{
    width: 1.56rem;
    height: .46rem;
    border-radius: .23rem;
    background: #34db87;
    font-size: .2rem;
    color: #fff;
    outline: none;
    border: none;
    position: absolute;
    right: 0;
    top:0;
}
main .phone{
    display: block;
    font-size: .4rem;
    color: #3bacfe;
    position: absolute;
    left: -.01rem;
    top: 0;
}
main span{
    display: block;
    width: .1rem;
    height: .1rem;
    border-radius: 50%;
    background: #3bacfe;
    position: absolute;
    left: .08rem;
    top: .18rem;
}
main .btnl{
    width: 3.85rem;
    height: .52rem;
     background: #e7f6ff;
     color: #6bc1fe;
    border-radius: .26rem;
    outline: none;
    border: none;
    font-size: .19rem;
    line-height: .52rem;
    display: block;
    margin:.4rem auto 0;
}
main .bottom{
    margin-top: .32rem;
    padding-left: .4rem;
    position: relative;
}
main .bottom span{
    display: inline-block;
    width: .25rem;
    height: .25rem;
    border-radius: 50%;
    background: #e7f6ff;
    left: 0;
    top: 0;
}
main .bottom p{
    font-size: .22rem;
    color: #afb1b2;
}
