header{
	height: 0.86rem;
	width: 100%;
	padding: 0 0.24rem;
	display: flex;
	justify-content: space-between;
	box-shadow: 0rem 0 0.4rem 0.1rem #EDF8FF;
}
header .back{
	height: 100%;
	width: 0.25rem;
	background: url('../img/back.png') no-repeat center;
	background-size: 0.25rem 0.41rem;
}
header .title{
	font-size: 0.38rem;
	color: #4ebbfe;
	line-height: 0.86rem;
}
header .list{
	width: 0.25rem;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* header .list .dot{
	background: #36a8fe;
	height: 0.08rem;
	width: 0.08rem;
	border-radius: 50%;
} */
.container{
	width: calc(100% - 0.48rem);
	height: 100%; 
	margin: 0 auto;
}
.content{
	width: 100%;
	height: 3.6rem; 
	overflow: hidden;
}
.content .container{
/* 	margin-top: 0.84rem; */
	background: url('../img/notecase-bg.png') no-repeat center;
	background-size: 6.8rem 2.34rem;
}
.content .notecase{
	width: 1.16rem;
	height: 2.06rem;
	margin: 0 auto;
	overflow: hidden;
}
.content .notecase img{
	width: 100%;
	height: 1.12rem;
	margin-top: 0.73rem;
}
.content .money{
	width: calc(100% - 0.6rem);
	height: calc(100% - 2.06rem);
	margin: 0 auto;
	position: relative;
	border-bottom: 0.01rem solid #F3F6F7;
}
.content .money .dot1{
	width: 0.18rem;
	height: 0.13rem;
	position: absolute;
	top: 0.7rem;
	left: 2.02rem;
	background: url('../img/dot.png') no-repeat center;
	background-size: 100%;
}
.content .money .dot2{
	width: 0.18rem;
	height: 0.13rem;
	position: absolute;
	top: 0.7rem;
	left: 4.18rem;
	background: url('../img/dot.png') no-repeat center;
	background-size: 100%;
}
.content .money .number{
	width: 2.04rem;
	height: 0.32rem;
	line-height: 0.32rem;
	text-align: center;
	padding-top: 0.58rem;
	margin-right: 0.1rem;
	margin: 0 auto;
	font-size: 0.24rem;
	color: #4B4C4C;
}
.content .money .number span{
	font-size: 0.33rem;
	color: #525F67;
	font-weight: bold;
	letter-spacing: 0.03rem;
}
.content .money .number p{
	float: left;
	margin-left: 0.1rem;
	font-size: 0.24rem;
	color: #4B4C4C;
	letter-spacing: 0.03rem;
}
.content .money .number pre{
	float: right;
	margin-right: 0.1rem;
	font-size: 0.24rem;
	color: #4B4C4C;
	letter-spacing: 0.03rem;
}
.bottom{
	width: 3.96rem;
	height: 0.72rem;
	margin: 0 auto;
	margin-top: 0.75rem;
	line-height: 0.6rem;
	font-size: 0.18rem;
	text-align: center;
	color: white;
	border-radius: 0.3rem;
	background: url('../img/bottom-bg.png') no-repeat center;
	background-size: 100%;
}