/*顶部开始*/

header{
    height: 0.86rem;
    width: 100%;
    padding: 0 0.24rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0rem 0 0.4rem 0.1rem #EDF8FF;
}
header .back{
    height: 100%;
    width: 0.25rem;
    background: url('../img/Back.png') no-repeat center;
    background-size: 0.25rem 0.41rem;
}
header .title{
    font-size: 0.38rem;
    color: #4ebbfe;
    line-height: 0.86rem;
}
header .list{
    width: 0.25rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*导航栏开始*/

nav {
    width: 100%;
    height: 0.84rem;
    position: relative;
}

nav ul {
    width: 100%;
    padding: 0.3rem 0.25rem;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    width: 0.73rem;
    height: 0.24rem;
    font-size: 0.24rem;
    line-height: 0.4rem;
    color: #8a8c8d;
    opacity: 0.4;
    position: relative;
}

nav ul li .bots {
    width: 1.22rem;
    height: 0.04rem;
    background-color: #36a8fe;
    position: absolute;
    top: 0.5rem;
    left: -0.25rem;
    display: none;
}

nav ul .choose {
    opacity: 1;
}

nav ul li .chooses {
    display: block;
}

nav .bot {
    width: 100%;
    height: 0.02rem;
    background-color: #a2deff;
    position: absolute;
    bottom: 0;
}

/*导航栏结束*/

/*列表开始*/

main {
    width: 100%;
    height: auto;
    padding: 0.5rem 0.25rem;
}

main .list_all {
    overflow: hidden;
    padding-bottom: 0.15rem;
    margin-bottom: 0.5rem;
    display: none;
}

main .list_all > dl {
    width: 100%;
    height: 1.74rem;
}

main .list_all > dl > dt {
    float: left;
}
main .list_all > dl > dt > img {
    width: 1.74rem;
    height: 1.74rem;
}
main .list_all > dl dd {
    width: 70%;
    float: left;
    margin-left: 0.27rem;
}

main .list_all > dl dd p {
    width: 2.15rem;
    height: 0.28rem;
    font-size: 0.3rem;
    color: #000000;
    opacity: 0.6;
}

main .list_all > dl dd .lists {
    height: 0.26rem;
    width: 100%;
    margin-top: 0.23rem;
}

main .list_all > dl dd .lists > img {
    bottom: 0.04rem;
    float: left;
    margin-top: 0.04rem;
}

main .list_all > dl dd .lists > span.name {
    float: left;
    margin-left: 0.16rem;
    color: #36a8fe;
    font-size: 0.26rem;
    line-height: 0.26rem;
}

main .list_all > dl dd .lists > span.info {
    float: left;
    margin-left: 0.16rem;
    font-size: 0.22rem;
    color: #000000;
    line-height: 0.26rem;
    opacity: 0.3;
}

main .list_all > dl dd .lists > .money {
    margin-left: 0.16rem;
    font-size: 0.26rem;
    color: #8a8c8d;
    line-height: 0.26rem;
    float: left;
}

main .list_all > dl dd .lists > .money > .price {
    font-size: 0.26rem;
}

main .list_all > dl dd .lists > .num {
    width: 0.3rem;
    float: right;
    position: relative;
}

main .list_all > dl dd .lists > .num > img {
    position: absolute;
    right: 0.2rem;
    top: 0.06rem;
    bottom: 0.04rem;
}

main .list_all > dl dd .lists > .num > .ride {
    margin-left: 0.11rem;
    line-height: 0.26rem;
    font-size: 0.24rem;
    color: #8a8c8d;
}

main .list_all > dl dd .lists > .num > .ride > .nums {
    font-size: 0.24rem;
}

main .list_all .out-of-pocket {
    float: right;
    margin-top: 0.47rem;
    position: relative;
}

main .list_all .out-of-pocket > img {
    position: absolute;
    right: 1.9rem;
    top: 0.04rem;
    bottom: 0.04rem;
}

main .list_all .out-of-pocket > .pocket {
    margin-left: 0.11rem;
    font-size: 0.24rem;
    line-height: 0.24rem;
    color: #fbb548;
}

main .list_all .out-of-pocket > .pocket > .prices {
    font-size: 0.24rem;
}

main .list_all .selects {
    width: 100%;
    height: 0.6rem;
    margin-top: 1.18rem;
}

main .list_all .selects .sel_cancel {
    width: 1.96rem;
    height: 0.60rem;
    background-color: #e7f6ff;
    border-radius: 0.30rem;
    font-size: 0.24rem;
    line-height: 0.6rem;
    text-align: center;
    color: #3bacfe;
    float: right;
    margin-right: 0.29rem;
}

main .list_all .selects .sel_pay {
    width: 1.96rem;
    height: 0.6rem;
    background-image: linear-gradient(90deg, #37e06f 0%, #31d69a 100%), linear-gradient(#3bacfe, #3bacfe);
    box-shadow: 0 0.04rem 0.2rem 0 rgba(55, 223, 116, 0.75);
    border-radius: 0.3rem;
    font-size: 0.24rem;
    line-height: 0.6rem;
    text-align: center;
    color: #ffffff;
    float: right;
}

main .list_pay {
    overflow: hidden;
    padding-bottom: 0.15rem;
    margin-bottom: 0.5rem;
    display: none;
}

main .list_pay > dl {
    width: 100%;
    height: 1.74rem;
}

main .list_pay > dl > dt {
    float: left;
}
main .list_pay > dl > dt > img {
    width: 1.74rem;
    height: 1.74rem;
}
main .list_pay > dl dd {
    width: 70%;
    float: left;
    margin-left: 0.27rem;
}

main .list_pay > dl dd p {
    width: 2.15rem;
    height: 0.28rem;
    font-size: 0.3rem;
    color: #000000;
    opacity: 0.6;
}

main .list_pay > dl dd .lists {
    height: 0.26rem;
    width: 100%;
    margin-top: 0.23rem;
    position: relative;
}

main .list_pay > dl dd .lists > img {
    bottom: 0.04rem;
    float: left;
    margin-top: 0.04rem;
}

main .list_pay > dl dd .lists > span.name {
    float: left;
    margin-left: 0.16rem;
    color: #36a8fe;
    font-size: 0.26rem;
    line-height: 0.26rem;
}

main .list_pay > dl dd .lists > span.info {
    float: left;
    margin-left: 0.16rem;
    font-size: 0.22rem;
    color: #000000;
    line-height: 0.26rem;
    opacity: 0.3;
}

main .list_pay > dl dd .lists > .money {
    margin-left: 0.16rem;
    font-size: 0.26rem;
    color: #8a8c8d;
    line-height: 0.26rem;
    float: left;
}

main .list_pay > dl dd .lists > .money > .price {
    font-size: 0.26rem;
}

main .list_pay .out-of-pocket {
    float: right;
    margin-top: 0.47rem;
    position: relative;
}

main .list_pay .out-of-pocket > img {
    position: absolute;
    right: 1.9rem;
    top: 0.04rem;
    bottom: 0.04rem;
}

main .list_pay .out-of-pocket > .pocket {
    margin-left: 0.11rem;
    font-size: 0.24rem;
    line-height: 0.24rem;
    color: #fbb548;
}

main .list_pay .out-of-pocket > .pocket > .prices {
    font-size: 0.24rem;
}

main .list_pay .selects {
    width: 100%;
    height: 0.6rem;
    margin-top: 1.18rem;
}

main .list_pay .selects .sel_cancel {
    width: 1.96rem;
    height: 0.60rem;
    background-color: #e7f6ff;
    border-radius: 0.30rem;
    font-size: 0.24rem;
    line-height: 0.6rem;
    text-align: center;
    color: #3bacfe;
    float: right;
    margin-right: 0.29rem;
}

main .list_pay .selects .sel_pay {
    width: 1.96rem;
    height: 0.6rem;
    background-image: linear-gradient(90deg, #37e06f 0%, #31d69a 100%), linear-gradient(#3bacfe, #3bacfe);
    box-shadow: 0 0.04rem 0.2rem 0 rgba(55, 223, 116, 0.75);
    border-radius: 0.3rem;
    font-size: 0.24rem;
    line-height: 0.6rem;
    text-align: center;
    color: #ffffff;
    float: right;
}

main .list_serve {
    overflow: hidden;
    padding-bottom: 0.15rem;
    margin-bottom: 0.5rem;
    position: relative;
    display: none;
}

main .list_serve > dl {
    width: 100%;
    height: 1.74rem;
}

main .list_serve > dl > dt {
    float: left;
}

main .list_serve > dl > dt > img {
    width: 1.74rem;
    height: 1.74rem;
}

main .list_serve > dl dd {
    width: 70%;
    float: left;
    margin-left: 0.27rem;
}

main .list_serve > dl dd .names {
    height: 0.28rem;
    font-size: 0.3rem;
    color: #000000;
    opacity: 0.6;
    float: left;
}

main .list_serve > dl dd .wait {
    font-size: 0.26rem;
    color: #43c93e;
    float: right;
}

main .list_serve > dl dd .lists {
    height: 0.26rem;
    width: 100%;
    margin-top: 0.51rem;
    position: relative;
}

main .list_serve > dl dd .lists > img {
    position: absolute;
    top: 0.04rem;
    bottom: 0.04rem;
}

main .list_serve > dl dd .lists > .day {
    margin-left: 0.3rem;
    color: #000000;
    opacity: 0.3;
    font-size: 0.22rem;
    line-height: 0.26rem;
}

main .list_serve > dl dd .lists > .day > .infor {
    margin-left: 0.16rem;
    font-size: 0.26rem;
    color: #36a8fe;
}

main .list_serve > dl dd .lists > .money {
    margin-left: 0.26rem;
    font-size: 0.26rem;
    color: #8a8c8d;
    line-height: 0.26rem;
    float: left;
}

main .list_serve > dl dd .lists > .money > .price {
    font-size: 0.26rem;
}

main .list_serve > dl dd .lists > .num {
    float: right;
    position: relative;
}

main .list_serve > dl dd .lists > .num > img {
    position: absolute;
    top: 0.08rem;
    right: 0.3rem;
    bottom: 0.04rem;
}

main .list_serve > dl dd .lists > .num > .ride {
    margin-left: 0.11rem;
    font-size: 0.24rem;
    color: #8a8c8d;
}

main .list_serve .out-of-pocket {
    float: right;
    margin-top: 0.47rem;
    position: relative;
}

main .list_serve .out-of-pocket > img {
    position: absolute;
    top: 0.04rem;
    right: 1.9rem;
    bottom: 0.04rem;
}

main .list_serve .out-of-pocket > .pocket {
    margin-left: 0.11rem;
    font-size: 0.24rem;
    line-height: 0.24rem;
    color: #fbb548;
}

main .list_serve .out-of-pocket > .pocket > .prices {
    font-size: 0.24rem;
}

main .list_serve .remark {
    position: absolute;
    right: 0;
    bottom: 1.06rem;
}

main .list_serve .remark > .remarks {
    float: right;
    font-size: 0.22rem;
    color: #000000;
    opacity: 0.3;
}

main .list_serve .selects {
    width: 100%;
    height: 0.6rem;
    margin-top: 1.45rem;
}

main .list_serve .selects .sel_cancel {
    width: 1.96rem;
    height: 0.60rem;
    background-color: #e7f6ff;
    border-radius: 0.30rem;
    font-size: 0.24rem;
    line-height: 0.6rem;
    text-align: center;
    color: #3bacfe;
    float: right;
    margin-right: 0.29rem;
}

main .list_serve .selects .sel_pay {
    width: 2.69rem;
    height: 0.60rem;
    background-image: linear-gradient(90deg, #37e06f 0%, #31d69a 100%), linear-gradient(#3bacfe, #3bacfe);
    box-shadow: 0 0.04rem 0.2rem rgba(55, 223, 116, 0.75);
    border-radius: 0.3rem;
    font-size: 0.24rem;
    line-height: 0.6rem;
    text-align: center;
    color: #ffffff;
    float: right;
}

main .list_take {
    overflow: hidden;
    padding-bottom: 0.15rem;
    margin-bottom: 0.5rem;
    display: none;
}

main .list_take > dl {
    width: 100%;
    height: 1.74rem;
}
main .list_take > dl > dt {
    float: left;
}
main .list_take > dl > dt > img {
    width: 1.74rem;
    height: 1.74rem;
}
main .list_take > dl dd {
    width: 70%;
    float: left;
    margin-left: 0.27rem;
}

main .list_take > dl dd>p {
    width: 2.15rem;
    height: 0.28rem;
    font-size: 0.3rem;
    color: #000000;
    opacity: 0.6;
}

main .list_take > dl dd .lists {
    height: 0.26rem;
    width: 100%;
    margin-top: 0.23rem;
    position: relative;
}

main .list_take > dl dd .lists > img {
    bottom: 0.04rem;
    float: left;
    margin-top: 0.04rem;
}

main .list_take > dl dd .lists > span.name {
    float: left;
    margin-left: 0.16rem;
    color: #36a8fe;
    font-size: 0.26rem;
    line-height: 0.26rem;
}

main .list_take > dl dd .lists > span.info {
    float: left;
    margin-left: 0.16rem;
    font-size: 0.22rem;
    color: #000000;
    line-height: 0.26rem;
    opacity: 0.3;
}

main .list_take > dl dd .lists > .money {
    margin-left: 0.16rem;
    font-size: 0.26rem;
    color: #8a8c8d;
    line-height: 0.26rem;
    float: left;
}

main .list_take > dl dd .lists > .money > .price {
    font-size: 0.26rem;
}

main .list_take > dl dd .lists > .num {
    width: 0.3rem;
    float: right;
    position: relative;
}

main .list_take > dl dd .lists > .num > img {
    position: absolute;
    right: 0.2rem;
    top: 0.04rem;
    bottom: 0.04rem;
}

main .list_take > dl dd .lists > .num > .ride {
    margin-left: 0.11rem;
    line-height: 0.26rem;
    font-size: 0.24rem;
    color: #8a8c8d;
}

main .list_take > dl dd .lists > .num > .ride > .nums {
    font-size: 0.24rem;
}

main .list_take .out-of-pocket {
    float: right;
    margin-top: 0.47rem;
    position: relative;
}

main .list_take .out-of-pocket > img {
    position: absolute;
    right: 1.9rem;
    top: 0.06rem;
    bottom: 0.04rem;
}

main .list_take .out-of-pocket > .pocket {
    margin-left: 0.11rem;
    font-size: 0.24rem;
    line-height: 0.24rem;
    color: #fbb548;
}

main .list_take .out-of-pocket > .pocket > .prices {
    font-size: 0.24rem;
}

main .list_take .selects {
    width: 100%;
    height: 0.6rem;
    margin-top: 1.18rem;
}

main .list_take .selects .sel_cancel {
    width: 1.96rem;
    height: 0.60rem;
    background-color: #e7f6ff;
    border-radius: 0.30rem;
    font-size: 0.24rem;
    line-height: 0.6rem;
    text-align: center;
    color: #3bacfe;
    float: right;
    margin-right: 0.29rem;
}

main .list_take .selects .sel_pay {
    width: 1.96rem;
    height: 0.6rem;
    background-image: linear-gradient(90deg, #37e06f 0%, #31d69a 100%), linear-gradient(#3bacfe, #3bacfe);
    box-shadow: 0 0.04rem 0.2rem 0 rgba(55, 223, 116, 0.75);
    border-radius: 0.3rem;
    font-size: 0.24rem;
    line-height: 0.6rem;
    text-align: center;
    color: #ffffff;
    float: right;
}

main .list_assess {
    overflow: hidden;
    padding-bottom: 0.15rem;
    margin-bottom: 0.5rem;
    display: none;
}

main .list_assess > dl {
    width: 100%;
    height: 1.74rem;
}
main .list_assess > dl > dt {
    float: left;
}
main .list_assess > dl > dt > img {
    width: 1.74rem;
    height: 1.74rem;
}
main .list_assess > dl dd {
    width: 70%;
    float: left;
    margin-left: 0.27rem;
}

main .list_assess > dl dd>p {
    width: 2.15rem;
    height: 0.28rem;
    font-size: 0.3rem;
    color: #000000;
    opacity: 0.6;
}

main .list_assess > dl dd .lists {
    height: 0.26rem;
    width: 100%;
    margin-top: 0.23rem;
    position: relative;
}

main .list_assess > dl dd .lists > img {
    bottom: 0.04rem;
    float: left;
    margin-top: 0.04rem;
}

main .list_assess > dl dd .lists > span.name {
    float: left;
    margin-left: 0.16rem;
    color: #36a8fe;
    font-size: 0.26rem;
    line-height: 0.26rem;
}

main .list_assess > dl dd .lists > span.info {
    float: left;
    margin-left: 0.16rem;
    font-size: 0.22rem;
    color: #000000;
    line-height: 0.26rem;
    opacity: 0.3;
}

main .list_assess > dl dd .lists > .money {
    margin-left: 0.16rem;
    font-size: 0.26rem;
    color: #8a8c8d;
    line-height: 0.26rem;
    float: left;
}

main .list_assess > dl dd .lists > .money > .price {
    font-size: 0.26rem;
}

main .list_assess > dl dd .lists > .num {
    width: 0.3rem;
    float: right;
    position: relative;
}

main .list_assess > dl dd .lists > .num > img {
    position: absolute;
    right: 0.2rem;
    top: 0.06rem;
    bottom: 0.04rem;
}

main .list_assess > dl dd .lists > .num > .ride {
    margin-left: 0.11rem;
    line-height: 0.26rem;
    font-size: 0.24rem;
    color: #8a8c8d;
}

main .list_assess > dl dd .lists > .num > .ride > .nums {
    font-size: 0.24rem;
}

main .list_assess .out-of-pocket {
    float: right;
    margin-top: 0.47rem;
    position: relative;
}

main .list_assess .out-of-pocket > img {
    position: absolute;
    right: 1.9rem;
    top: 0.04rem;
    bottom: 0.04rem;
}

main .list_assess .out-of-pocket > .pocket {
    margin-left: 0.11rem;
    font-size: 0.24rem;
    line-height: 0.24rem;
    color: #fbb548;
}

main .list_assess .out-of-pocket > .pocket > .prices {
    font-size: 0.24rem;
}

main .list_assess .selects {
    width: 100%;
    height: 0.6rem;
    margin-top: 1.18rem;
}

main .list_assess .selects .sel_cancel {
    width: 1.96rem;
    height: 0.60rem;
    background-color: #e7f6ff;
    border-radius: 0.30rem;
    font-size: 0.24rem;
    line-height: 0.6rem;
    text-align: center;
    color: #3bacfe;
    float: right;
    margin-right: 0.29rem;
}

main .list_assess .selects .sel_pay {
    width: 1.96rem;
    height: 0.6rem;
    background-image: linear-gradient(90deg, #37e06f 0%, #31d69a 100%), linear-gradient(#3bacfe, #3bacfe);
    box-shadow: 0 0.04rem 0.2rem 0 rgba(55, 223, 116, 0.75);
    border-radius: 0.3rem;
    font-size: 0.24rem;
    line-height: 0.6rem;
    text-align: center;
    color: #ffffff;
    float: right;
}

/*列表结束*/

/*底部开始*/
footer{
    width: 100%;
    height: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 0 .54rem;
}
footer ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
footer li{
    width: .49rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: .08rem;
}
footer li img{
    height: .45rem;
    color: #59c3fe;
    line-height: .55rem;
    display: block;
    margin:0 auto
}
footer li i{
    font-size: .45rem;
    color: #59c3fe;
    line-height: .55rem;
    display: block;
    margin:0 auto
}
footer li h3{
    display: flex;
    font-size: .22rem;
    color: #59c3fe;

}