/*顶部开始*/
header{
    height: 0.86rem;
    width: 100%;
    padding: 0 0.24rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0rem 0 0.4rem 0.1rem #EDF8FF;
}
header .back{
    height: 100%;
    width: 0.25rem;
    background: url('../img/back.png') no-repeat center;
    background-size: 0.25rem 0.41rem;
}
header .title{
    font-size: 0.38rem;
    color: #4ebbfe;
    line-height: 0.86rem;
}
header .list{
    width: 0.25rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* header .list .dot{
    background: #36a8fe;
    height: 0.08rem;
    width: 0.08rem;
    border-radius: 50%;
} */

/*主体部分开始*/
.img_assess{
    width: 100%;
    height: 1.03rem;
    padding: 0 0.24rem;
    position: relative;
}
.img_assess > img{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.img_assess > p{
    font-size: 0.24rem;
    color: #3bacfe;
    line-height: 1.03rem;
    position: absolute;
    left: 0.44rem;
}
.img_assess .stars{
     width: 2.8rem;
     height: 0.45rem;
     display: flex;
     justify-content: space-between;
     position: absolute;
     left: 1.5rem;
     top: 0.3rem;
}
.img_assess .stars > img{
    width: 0.42rem;
    height: 0.42rem;
}
.img_assess .spans{
    width: 0.9rem;
    position: absolute;
    right:0.24rem;
    top: 0.4rem;
}
.img_assess .spans>span{
    font-size: 0.24rem;
    color: #fbb548;
    text-align: right;
    line-height: 0.24rem;
}
.img_assess .text{
    position: relative;
}
.img_assess .text textarea{
    width: 7.02rem;
    height: 3rem;
    background-color: #ffffff;
    box-shadow: 0 0.01rem 0.21rem 0 rgba(223, 223, 223, 0.43);
    border-radius: 0.1rem;
    border: none;
    margin-top:1.03rem;
    margin-bottom: 0.24rem;
}
.img_assess .text .note>p{
    font-size: 0.22rem;
    line-height: 0.34rem;
    color: #000000;
    opacity: 0.3;
}
.img_assess .text .note>.node{
    position: absolute;
    top:1.3rem;
    left: 0.15rem;
}
.img_assess .text .note>.nodes{
    position: absolute;
    bottom: 2rem;
    left: 0.15rem;
}
.img_assess .pic{
    width: 1.2rem;
    height: 1.2rem;
    background-color: #ffffff;
    box-shadow: 0 0.1rem 0.21rem 0 rgba(223, 223, 223, 0.75);
    border-radius: 0.1rem;
    padding: 0.43rem 0.35rem;
    margin-bottom: 0.18rem;
}
.img_assess .pic > img{
    width: 0.49rem;
    height: 0.35rem;
}
.img_assess .adds{
    font-size: 0.22rem;
    line-height: 34px;
    color: #000000;
    opacity: 0.3;
}
.img_assess .remark{
    height: 0.8rem;
    margin-top: 0.8rem;
    position: relative;
}
.img_assess .remark input{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(0, 0, 0, 0);
}
.img_assess .remark input + label::before {
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    width: 0.24rem;
    height: 0.24rem;
    margin-right: 0.13rem;
    border-radius: 50%;
    border: 0.01rem solid #36a8fe;
    text-indent: 0.15rem;
    line-height: 1;
}
.img_assess .remark input:checked + label::before {
    background-color: #36a8fe;
    background-clip: content-box;
    padding: .2rem;
}
.img_assess .remark>span{
    float: right;
    font-size: 0.22rem;
    color: #8a8c8d;
}
.grade{
    width: 100%;
    height: 1.03rem;
    margin-top: 5.76rem;
    padding: 0 0.24rem;
}
.grade>img{
    margin-top: 0.49rem;
    float: left;
}
.grade>p{
    font-size: 0.24rem;
    color: #3bacfe;
    line-height: 1.03rem;
}
.grade .logistics{
    width: 100%;
    height: 0.7rem;
    position: relative;
}
.grade .logistics > p{
    line-height: 0.7rem;
    font-size: 0.24rem;
    color: #8a8c8d;
}
.grade .logistics .stars{
    width: 2.8rem;
    height: 0.45rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 1.5rem;
    top: 0.12rem;
}
.grade .logistics .stars > img{
    width: 0.42rem;
    height: 0.42rem;
}
.grade .logistics .spans{
    width: 0.9rem;
    position: absolute;
    right:0rem;
    top: 0.23rem;
}
.grade .logistics .spans > span{
    font-size: 0.24rem;
    color: #fbb548;
    line-height: 0.24rem;
    position: absolute;
    right:0rem;
}
.grade .attitude{
    width: 100%;
    height: 0.7rem;
    position: relative;
}
.grade .attitude > p{
    line-height: 0.7rem;
    font-size: 0.24rem;
    color: #8a8c8d;
}
.grade .attitude .stars{
    width: 2.8rem;
    height: 0.45rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 1.5rem;
    top: 0.12rem;
}
.grade .attitude .stars > img{
    width: 0.42rem;
    height: 0.42rem;
}
.grade .attitude .spans{
    width: 0.9rem;
    position: absolute;
    right:0rem;
    top: 0.23rem;
}
.grade .attitude .spans > span{
    font-size: 0.24rem;
    color: #fbb548;
    line-height: 0.24rem;
    position: absolute;
    right:0rem;
}
.release{
    width: 3.8rem;
    height: 0.6rem;
    background-image: linear-gradient(90deg, #37e06f 0%, #31d69a 100%), linear-gradient(#3bacfe, #3bacfe);
    background-blend-mode: normal, normal;
    box-shadow: 0 0.04rem 0.20rem 0 rgba(55, 223, 116, 0.75);
    border-radius: 0.3rem;
    font-size: 0.24rem;
    color: #ffffff;
    text-align: center;
    line-height: 0.6rem;
    margin-top: 2.8rem;
    margin-left: 1.9rem;
}



