header{
	height: 0.86rem;
	width: 100%;
	padding: 0 0.24rem;
	display: flex;
	justify-content: space-between;
	box-shadow: 0rem 0 0.4rem 0.1rem #EDF8FF;
	margin-top: .38rem;
}
header .back{
	height: 100%;
	width: 0.25rem;
	background: url('../img/Back.png') no-repeat center;
}
header .title{
	font-size: 0.38rem;
	color: #4ebbfe;
	line-height: 0.86rem;
}
header .list{
	width: 0.48rem;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .list .dot{
	/* background: #36a8fe; */
	/* height: 0.08rem; */
	/* width: 0.08rem; */
	border-radius: 50%;
}
.top{
	display: flex;
	justify-content: space-around;
}
.top img{
	width: 1.5rem;
	height: 1.22rem;
}
.text .success{
	padding: 0 2.4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.text .left,.right{
	width: .1rem;
	height: .05rem;
	border-radius: 25%;
	background: #34DA87;
}
.text .success p{
	font-size: .26rem;
	color:#4F5B64;
	font-weight: bold;
}
.text .success span{
	color:#34DA87;
	font-size: .3rem;
	font-weight: bold;
	margin: 0 .1rem;
}
.text .sent{
	display: flex;
	justify-content: space-around;
	margin-top: .18rem;
}
.text .sent p{
	font-size: .26rem;
	color:#4F5B64;
	font-weight: bold;
}
.text .sent span{
	/* display: inline-block; */
	font-size: .24rem;
	color:#FFD541;
	font-weight: bold;
	margin: 0 .1rem;
}
.btn{
	padding: 0 1.46rem;
	margin-top: .52rem;
	display: flex;
	justify-content: space-between;
}
.btn button{
	width: 1.96rem;
	height: .6rem;
	border-radius: .3rem;
	color: #fff;
	font-size: .2rem;
	text-align: center;
	border-style: none;
}
.btn .rbtn{
	background-color: #3BACFE;
}
.btn .lbtn{
	background: linear-gradient(to right,#37DF72,#32D798);
}
nav{
	padding: 0 .24rem;
}
nav .nav_title{
	margin-top: 1.1rem;
	display: flex;
	align-items: center;
}
nav .nav_title .dots{
	width: .1rem;
	height: .05rem;
	border-radius: 25%;
	background: #34DA87;
	margin-right: .1rem;	
}
nav .nav_title p{
	font-size: .26rem;
	color: #333;
	font-weight: bold;
}
nav .nav_title span{
	color:  #34DA87;
}
.nav_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav_top .box{

}
.nav_top .box .pic img{
	width: 3.2rem;
	/* height: 2.2rem; */
}
.nav_top .box .text1{
	display: flex;
	justify-content: space-between;
}
.nav_top .box .text1 p{
	font-size: .3rem;
	color: #333;
	font-weight: bold;
}
.nav_top .box .text1 span{
	font-size: .28rem;
	color: #FBB548;
	font-weight: bold;
}
.nav_top .box .xh{
	font-size: .22rem;
	color: #A2A4A5;
}
.nav_top .box .qk{
	display: flex;
	justify-content: space-between;
	padding-top: .18rem;
	border-top: .01rem dashed #333; 
	margin-top: .18rem;
}
.nav_top .box .qk .sale{
	display: flex;
	align-items: center;
}
.nav_top .box .qk .sale .dts{
	width: .05rem;
	height: .05rem;
	border-radius: 50%;
	background-color: #44B5FF;
	margin-right: .08rem;
}
.nav_top .box .qk .sale p{
	font-size: .22rem;
	font-weight: bold;
	color: #AFB1B2;
}
.nav_top .box .qk .sale span{
	font-size: .26rem;
	font-weight: bold;
	color: #42ACFE;
}
.nav_top .box .qk .jdl{
	display: flex;
	align-items: center;
}
.nav_top .box .qk .jdl .dts{
	width: .05rem;
	height: .05rem;
	border-radius: 50%;
	background-color: #44B5FF;
	margin-right: .08rem;
}
.nav_top .box .qk .jdl p{
	font-size: .22rem;
	font-weight: bold;
	color: #AFB1B2;
}
.nav_top .box .qk .jdl span{
	font-size: .26rem;
	font-weight: bold;
	color: #42ACFE;
}
.nav_top .box .pl{
	/* display: flex; */
	margin-top: .22rem;
}
.nav_top .box .pl .zhuanye{
	width: 1.2rem;
	height: .35rem;
	border-radius: .175rem;
	color:  #42ACFE;
	font-size: .2rem;
	text-align: center;
	background-color: #E7F6FF;
	float: left;
}
.nav_top .box .pl .heli{
	width: 1.2rem;
	height: .35rem;
	border-radius: .175rem;
	color:  #42ACFE;
	font-size: .2rem;
	text-align: center;
	background-color: #E7F6FF;
	float: left;
	margin-left: .1rem;
}



.nav_bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav_top .box{

}
.nav_bottom .box .pic img{
	width: 3.2rem;
	/* height: 2.2rem; */
}
.nav_bottom .box .text1{
	display: flex;
	justify-content: space-between;
}
.nav_bottom .box .text1 p{
	font-size: .3rem;
	color: #333;
	font-weight: bold;
}
.nav_bottom .box .text1 span{
	font-size: .28rem;
	color: #FBB548;
	font-weight: bold;
}
.nav_bottom .box .xh{
	font-size: .22rem;
	color: #A2A4A5;
}
.nav_bottom .box .qk{
	display: flex;
	justify-content: space-between;
	padding-top: .18rem;
	border-top: .01rem dashed #333; 
	margin-top: .18rem;
}
.nav_bottom .box .qk .sale{
	display: flex;
	align-items: center;
}
.nav_bottom .box .qk .sale .dts{
	width: .05rem;
	height: .05rem;
	border-radius: 50%;
	background-color: #44B5FF;
	margin-right: .08rem;
}
.nav_bottom .box .qk .sale p{
	font-size: .22rem;
	font-weight: bold;
	color: #AFB1B2;
}
.nav_bottom .box .qk .sale span{
	font-size: .26rem;
	font-weight: bold;
	color: #42ACFE;
}
.nav_bottom .box .qk .jdl{
	display: flex;
	align-items: center;
}
.nav_bottom .box .qk .jdl .dts{
	width: .05rem;
	height: .05rem;
	border-radius: 50%;
	background-color: #44B5FF;
	margin-right: .08rem;
}
.nav_bottom .box .qk .jdl p{
	font-size: .22rem;
	font-weight: bold;
	color: #AFB1B2;
}
.nav_bottom .box .qk .jdl span{
	font-size: .26rem;
	font-weight: bold;
	color: #42ACFE;
}
.nav_bottom .box .pl{
	/* display: flex; */
	margin-top: .22rem;
}
.nav_bottom .box .pl .zhuanye{
	width: 1.2rem;
	height: .35rem;
	border-radius: .175rem;
	color:  #42ACFE;
	font-size: .2rem;
	text-align: center;
	background-color: #E7F6FF;
	float: left;
}
.nav_bottom .box .pl .heli{
	width: 1.2rem;
	height: .35rem;
	border-radius: .175rem;
	color:  #42ACFE;
	font-size: .2rem;
	text-align: center;
	background-color: #E7F6FF;
	float: left;
	margin-left: .1rem;
}
footer{
    width: 100%;
    height: 1rem;
    /* position: absolute; */
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 0 .54rem;
    margin-top: .54rem;
}
footer ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
footer li{
    width: .49rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: .08rem;
}
footer li img{
    height: .45rem;
    color: #59c3fe;
    line-height: .55rem;
    display: block;
    margin:0 auto
}
footer li i{
    font-size: .45rem;
    color: #59c3fe;
    line-height: .55rem;
    display: block;
    margin:0 auto
}
footer li h3{
    display: flex;
    font-size: .22rem;
    color: #59c3fe;

}