*{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
header{
    width: 100%;
    height: .89rem;
    display: flex;
    margin-top: .4rem;
    padding: 0 .23rem;
    box-sizing: border-box;
    background: #FFFFFF;
}
header p{
    width: 100%;
    height: .89rem;
    display: block;
    color: #4ebbfe;
    line-height: .89rem;
    font-size: .38rem;
    text-align: center;
    position: relative;
}
header img{
    line-height: .89rem;
    height: .4rem;
    color: #4ebbfe;
    position: absolute;
    left: 0;
    top:0;
    bottom:0;
    margin:auto 0;
}
.Optin{
    padding: 0 .8rem;
    box-shadow: 0 .3rem .6rem .02rem #edf8ff;
    margin-bottom: .5rem;
    position: relative;
}
.Optin .whole{
    display: flex;
    justify-content:space-between;
    margin-bottom: 0.1rem;
    width: 100%;
    height: auto;
}

.optin1{
    color: #5fbbfe;
    height: 0.5rem;
    line-height: 0.5rem;
    padding: 0.3rem 0;
    display: flex;
}
.Optin .whole .optin1 h3{
    margin: 0;
    padding: 0;
    font-size: .22rem;
    display: block;
    line-height: 0.55rem;
}
.Optin .whole .optin1 span{
    font-size: .22rem;
    display: block;
}
.actives{
    color: #74e3a9;
}
.Optin .drop_down{
    background: #FFFFFF;
    padding: 0 .8rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -225%;
    z-index: 10;
    display: none;
}
.Optin .drop_down ul li{
    display: block;
    font-size: .3rem;
    padding: .2rem 0;
    border-bottom: #f1f4f5 solid .02rem;
}
.Optin .drop_down ul li:hover{
    color: #5fbbfe;
}
.box1{
    width: 100%;
    height: 100%;
    position: relative;
}
.bottom{
    width: 6.84rem;
    height: 1.73rem;
    margin: .3rem auto 0;
    display: flex;
    justify-content: space-between;
}
.bottom img{
    width: 1.74rem;
    height: 1.73rem;
    display: block;
}
.bottom .addressRight{
    width: 4.87rem;
    height: 100%;
    position: relative;
}
.addressRight .top{
    width: 100%;
    height: .5rem;
    display: flex;
    justify-content: space-between;
}
.addressRight .top span{
    display: block;
    font-size: .28rem;
    line-height: .5rem;
    color: #646666;
}
.addressRight .center{
    height: .43rem;
}
.addressRight .center h3{
    height: 100%;
    float: left;
    display: flex;
    margin-right: .6rem;
    position: relative;
}
.addressRight .center h3 .spot{
    width: .05rem;
    height: .05rem;
    background: #44b5ff;
    position: absolute;
    top:.21rem;
    left: -0.1rem;
}
.addressRight .center h3 span{
    font-size: .19rem;
    line-height: .43rem;
    color: #afb1b2;
    margin: 0 .07rem;
}
.addressRight .bottom{
    width: 100%;
    height: .35rem;
    display: flex;
    justify-content: left;
    margin-top: 0;
}
.addressRight .bottom span{
    display: block;
    padding: 0 .19rem;
    border-radius: .17rem;
    background: #e7f6ff;
    font-size: .19rem;
    color: #36a8fe;
    margin-right: .1rem;
}
.addressRight button{
    width: 1.26rem;
    height: .45rem;
    border-radius: .22rem;
    background: #3bacfe;
    color: #fff;
    font-size: .19rem;
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    outline: none;
    box-shadow: .1rem .1rem .3rem rgb(194,230,255);
}
.addressRight .Price{
    display: block;
    font-size: .19rem;
    color: #fbb548;
    position: absolute;
    bottom: 0;
    right: 0;
}
.Mask{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333333;
    opacity: 0.5;
}