/*
* @Author: Lenovo
* @Date:   2018-09-28 14:38:13
* @Last Modified by:   Lenovo
* @Last Modified time: 2018-09-29 19:55:20
*/
*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}
a{
	text-decoration: none;
	color: #333;
}

    @media screen and (min-width:360px){
	html{
		font-size: calc(360/750*100px);
	}
}
    @media screen and (min-width:375px){
	html{
		font-size: calc(375/750*100px);
	}
}
    @media screen and (min-width:412px){
	html{
		font-size: calc(412/750*100px);
	}
}
    @media screen and (min-width:414px){
	html{
		font-size: calc(414/750*100px);
	}
}
    @media screen and (min-width:750px){
	html{
		font-size: calc(750/750*100px);
	}
}
    @media screen and (min-width:768px){
	html{
		font-size: calc(768/750*100px);
	}
}
    @media screen and (min-width:1024px){
	html{
		font-size: calc(1024/750*100px);
	}
}
header{
	height: 0.56rem;
	width: 100%;
	padding: 0 0.24rem;
	position: relative;
	/* background: red; */
	/* display: flex; */
	/* justify-content: space-between; */
}
header .back img{
	height: 0.45rem;
	width: 0.28rem;
	/* line-height: 1rem; */
	/* position: absolute; */
	/* left: 0.3rem; */
	/* height: 0.3rem; */
	margin-top: 0.3rem;
	display: block;
	/* font-size: 0.2rem; */

	/* font-size: 0.34rem; */
	/* background: url('../img/Back.png') no-repeat center; */
}
header .title{
	font-size: 0.35rem;
	color: #4ebbfe;
	/* line-height: 0.01rem; */
	/* text-align: center; */
	position: absolute;
	top: 0.05rem;
	left: 2.8rem;
}
 .container{
 	margin-top: 0.3rem;
 	width: 100%;
 	height: 11.5rem;
 	 background: #FBFEFF; 

 }
 .container   .two{
	margin-top: 0.2rem;
	width: 7.2rem;
	height: 3.3rem;
	position: relative;
	/* background: green; */
}
.container   .two img{
	margin-top: 0.85rem;
	width: 100%;
	height: 100%;
}
.container  .two .xin{
	width: 6.39rem;
	height: 1.92rem;
	box-shadow: 0 0 0.1rem 0.1rem #F1F4F5;
	/* background: red; */
	background: white;
	position: absolute;
    left: 0.54rem;
    top: 0.35rem;

}
.container  .two .xin .tou{
	width: 1.19rem;
	height: 1.19rem;
	margin-left: 0.2rem;
	margin-top: 0.3rem;
	background: #FFDF37;
	border-radius: 50%;
	/* position: relative; */
	/* background-image: url(''); */
}
.container  .two .xin .tou img{
	width: 100%;
	height: 100%;
	margin-top: -0.01rem;
	margin-left: 0.02rem;
	border-radius: 50%;
}
.container  .two .xin .tou .wen{
	margin-left: 1.5rem;
	/* position: absolute; */
	/* left: 0.3rem; */
	/* top: 0.2rem; */
	margin-top: -1.3rem;
	font-size: 0.3rem;
	display: block;
	width: 3.5rem;
}
.container  .two .xin .tou .xiao{
	width: 0.1rem;
	height: 0.1rem;
	margin-left: 1.7rem;
	margin-top: 0.19rem;
	font-size: 0.3rem;
	display: block;
}
.container  .two .xin .tou .wen1{
	margin-left: 1.9rem;
	/* position: absolute; */
	/* left: 0.3rem; */
	/* top: 0.2rem; */
	margin-top: -0.28rem;
	font-size: 0.2rem;
	display: block;
	width: 3.5rem;
	color: #C4C4C4;
}
.container  .two .xin .tou .wen2{
	margin-left: 4.6rem;
	/* position: absolute; */
	/* left: 0.3rem; */
	/* top: 0.2rem; */
	margin-top: -0.6rem;
	font-size: 0.2rem;
	display: block;
	width: 1.5rem;
	color: #7BC7FE;
}
.container  .two .xin .tou .wen3{
	width: 0.1rem;
	height: 0.1rem;
	position: absolute;
	left: 5.7rem;
	top: 0.63rem;
}
.container  .two .xin .tou .wen4{
	width: 0.1rem;
	height: 0.1rem;
	position: absolute;
	left: 5.9rem;
	top: 0.63rem;
}
.container  .two .xin .tou .wen5{
	width: 0.1rem;
	height: 0.1rem;
	position: absolute;
	left: 6.1rem;
	top: 0.63rem;
}

.container  .two .xin .tou .wen6{
	margin-left: 2.9rem;
	/* position: absolute; */
	/* left: 0.3rem; */
	/* top: 0.2rem; */
	margin-top: 0.01rem;
	font-size: 0.2rem;
	display: block;
	width: 3.5rem;
	color: #7BC7FE;
}
.container  .two .xin .tou .wen7{
	margin-left: 3.6rem;
	/* position: absolute; */
	/* left: 0.3rem; */
	/* top: 0.2rem; */
	margin-top: -0.3rem;
	font-size: 0.2rem;
	display: block;
	width: 1.5rem;
	color: #CFCFCF;
}
.container  .two .xin .tou .xiao2{
	width: 0.4rem;
	height: 0.3rem;
	margin-left: 0.1rem;
	margin-top: 0.5rem;
	font-size: 0.3rem;
	display: block;
}
.container  .two .xin .tou .wen8{
	margin-left: 0.6rem;
	/* position: absolute; */
	/* left: 0.3rem; */
	/* top: 0.2rem; */
	margin-top: -0.35rem;
	font-size: 0.2rem;
	display: block;
	width: 3.5rem;
	color: #CFCFCF;
}
.container  .two .xin .tou .wen9{
	width: 2.97rem;
	height: 0.05rem;
	position: absolute;
	left: 2rem;
	top: 1.7rem;
}
.container  .two .xin .tou .xiao3{
	width: 0.4rem;
	height: 0.3rem;
	margin-left: 4.8rem;
	margin-top: -0.25rem;
	font-size: 0.3rem;
	display: block;
}
.container  .two .xin .tou .wen10{
	margin-left: 5.25rem;
	/* position: absolute; */
	/* left: 0.3rem; */
	/* top: 0.2rem; */
	margin-top: -0.35rem;
	font-size: 0.2rem;
	display: block;
	width: 1.5rem;
	color: #CFCFCF;
}
.container  .two .xin .tou .xing{
	margin-left: -0.25rem;
	margin-top: 0.45rem;
	font-size: 0.1rem;
	display: block;
	width: 0.2rem;
	height: 0.15rem;
	/* color: #CFCFCF; */
}
.container  .two .xin .tou .xing66{
	/* margin-left: -0.25rem;
	margin-top: 0.55rem; */
	position: absolute;
	left: -0.1rem;
	top: 4.9rem;
	font-size: 0.1rem;
	display: block;
	width: 0.2rem;
	height: 0.15rem;
	/* color: #CFCFCF; */
}
.container  .two .xin .tou .xing1{
	margin-left: -0.04rem;
	margin-top: -0.3rem;
	font-size: 0.3rem;
	display: block;
	width: 1.2rem;
	height: 0.15rem;
	color: #4ebbfe;

}

.container  .two .xin .tou .xing2{
	margin-left: 0.58rem;
	margin-top: -0.15rem;
	font-size: 0.3rem;
	display: block;
	width: 1.2rem;
	height: 0.15rem;
	color: black;

}
.container  .two .xin .tou .xing7{
	margin-left: -0.04rem;
	margin-top: 0.8rem;
	font-size: 0.3rem;
	display: block;
	width: 1.2rem;
	height: 0.15rem;
	color: #4ebbfe;

}

.container  .two .xin .tou .xing8{
	margin-left: 0.85rem;
	margin-top: -0.15rem;
	font-size: 0.3rem;
	display: block;
	width: 1.2rem;
	height: 0.15rem;
	color: black;

}
.container  .two .xin .tou .xing3{
	margin-left: -0.25rem;
	margin-top: 0.5rem;
	font-size: 0.1rem;
	display: block;
	width: 1.15rem;
	height: 1.15rem;
	/* color: #CFCFCF; */
}
.container  .two .xin .tou .xing4{
	margin-left: 1.5rem;
	margin-top: -1.15rem;
	font-size: 0.1rem;
	display: block;
	width: 1.15rem;
	height: 1.15rem;
	/* color: #CFCFCF; */
}
.container  .two .xin .tou .lob{
	margin-left: 3.2rem;
	margin-top: -1.15rem;
	font-size: 0.1rem;
	display: block;
	width: 1.15rem;
	height: 1.15rem;
	/* color: #CFCFCF; */
}
.container  .two .xin .tou .xing5{
	margin-left: -0.35rem;
	margin-top: -0.15rem;
	font-size: 0.25rem;
	display: block;
	width: 2.2rem;
	height: 0.15rem;
	color: black;

}
.container  .two .xin .tou .xing6{
	margin-left: 1.6rem;
	margin-top: -0.15rem;
	font-size: 0.25rem;
	display: block;
	width: 2.2rem;
	height: 0.15rem;
	color: black;

}
.container  .two .xin .tou .xing09{
	margin-left: 1.5rem;
	margin-top: -0.15rem;
	font-size: 0.25rem;
	display: block;
	width: 2.2rem;
	height: 0.15rem;
	color: black;

}
.container  .two .xin .tou .ggh{
	margin-left: 3.3rem;
	margin-top: -0.15rem;
	font-size: 0.25rem;
	display: block;
	width: 2.2rem;
	height: 0.15rem;
	color: black;

}
.container  .two .xin .tou .ty4{
	margin-left: 4.7rem;
	margin-top: -1.78rem;
	font-size: 0.25rem;
	display: block;
	width: 1.2rem;
	height: 0.15rem;
	color: black;
}
.container  .two .xin .tou .ty1{
	width: 0.1rem;
	height: 0.1rem;
	position: absolute;
	left: 5.9rem;
	top: 4.9rem;
}
.container  .two .xin .tou .ty2{
	width: 0.1rem;
	height: 0.1rem;
	position: absolute;
	left: 6.1rem;
	top: 4.9rem;
}
.container  .two .xin .tou .ty3{
	width: 0.1rem;
	height: 0.1rem;
	position: absolute;
	left: 6.3rem;
	top: 4.9rem;
}