/*
* @Author: Lenovo
* @Date:   2018-09-27 10:34:58
* @Last Modified by:   Lenovo
* @Last Modified time: 2018-09-29 19:31:17
*/
*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}
a{
	text-decoration: none;
	color: #333;
}

    @media screen and (min-width:360px){
	html{
		font-size: calc(360/750*100px);
	}
}
    @media screen and (min-width:375px){
	html{
		font-size: calc(375/750*100px);
	}
}
    @media screen and (min-width:412px){
	html{
		font-size: calc(412/750*100px);
	}
}
    @media screen and (min-width:414px){
	html{
		font-size: calc(414/750*100px);
	}
}
    @media screen and (min-width:750px){
	html{
		font-size: calc(750/750*100px);
	}
}
    @media screen and (min-width:768px){
	html{
		font-size: calc(768/750*100px);
	}
}
    @media screen and (min-width:1024px){
	html{
		font-size: calc(1024/750*100px);
	}
}
header{
	height: 0.56rem;
	width: 100%;
	padding: 0 0.24rem;
	position: relative;
	/* background: red; */
	/* display: flex; */
	/* justify-content: space-between; */
}
header .back img{
	height: 0.45rem;
	width: 0.28rem;
	/* line-height: 1rem; */
	/* position: absolute; */
	/* left: 0.3rem; */
	/* height: 0.3rem; */
	margin-top: 0.3rem;
	display: block;
	/* font-size: 0.2rem; */

	/* font-size: 0.34rem; */
	/* background: url('../img/Back.png') no-repeat center; */
}
header .title{
	font-size: 0.35rem;
	color: #4ebbfe;
	/* line-height: 0.01rem; */
	/* text-align: center; */
	position: absolute;
	top: 0.05rem;
	left: 2.9rem;


}
 .container{
 	width: 100%;
 	height: 12rem;
 	 background: #F3FAFD; 

 }
.container   .two{
	margin-top: 0.2rem;
	width: 7.2rem;
	height: 3.3rem;
	position: relative;
	/* background: green; */
}
.container   .two img{
	margin-top: 0.85rem;
	width: 100%;
	height: 100%;
}
.container  .two .xin{
	width: 6.39rem;
	height: 1.92rem;
	box-shadow: 0 0 0.1rem 0.1rem #F1F4F5;
	/* background: red; */
	background: white;
	position: absolute;
    left: 0.54rem;
    top: 0.35rem;

}
.container  .two .xin .tou{
	width: 1.19rem;
	height: 1.19rem;
	margin-left: 0.2rem;
	margin-top: 0.3rem;
	background: #FFDF37;
	border-radius: 50%;
	/* position: relative; */
	/* background-image: url(''); */
}
.container  .two .xin .tou img{
	width: 100%;
	height: 100%;
	margin-top: -0.01rem;
	margin-left: 0.02rem;
	border-radius: 50%;
}
.container  .two .xin .tou .wen{
	margin-left: 1.5rem;
	/* position: absolute; */
	/* left: 0.3rem; */
	/* top: 0.2rem; */
	margin-top: -1.3rem;
	font-size: 0.3rem;
	display: block;
	width: 3.5rem;
}
.container  .two .xin .tou .xiao{
	width: 0.4rem;
	height: 0.3rem;
	margin-left: 1.4rem;
	margin-top: 0.2rem;
	font-size: 0.3rem;
}
.container  .two .xin .tou .wen1{
	margin-left: 1.9rem;
	/* position: absolute; */
	/* left: 0.3rem; */
	/* top: 0.2rem; */
	margin-top: -0.31rem;
	font-size: 0.2rem;
	display: block;
	width: 3.5rem;
	color: #C4C4C4;
}
.container  .two .xin .tou .wen2{
	margin-left: 4.8rem;
	/* position: absolute; */
	/* left: 0.3rem; */
	/* top: 0.2rem; */
	margin-top: -0.8rem;
	font-size: 0.2rem;
	display: block;
	width: 1rem;
	color: #7BC7FE;
}
.container  .two .xin .tou .wen3{
	width: 0.1rem;
	height: 0.1rem;
	position: absolute;
	left: 5.7rem;
	top: 0.63rem;
}
.container  .two .xin .tou .wen4{
	width: 0.1rem;
	height: 0.1rem;
	position: absolute;
	left: 5.9rem;
	top: 0.63rem;
}
.container  .two .xin .tou .wen5{
	width: 0.1rem;
	height: 0.1rem;
	position: absolute;
	left: 6.1rem;
	top: 0.63rem;
}
.container  .two .xin .ddf{
	font-size: 0.45rem;
	margin-left: 0.58rem;
	margin-top: 0.95rem;
	color: #3BA9FE;
}
.container  .two .xin .ddf1{
	font-size: 0.45rem;
	margin-left: 0.85rem;
	margin-top: -0.6rem;
	color: #54BEFE;
}
.container  .two .xin .ddf2{
	font-size: 0.45rem;
	margin-left: 1.13rem;
	margin-top: -0.6rem;
	color: #68D0FE;
}
.container  .two .xin .ddf3{
	font-size: 0.45rem;
	margin-left: 2.83rem;
	margin-top: -0.6rem;
	color: #2FDD60;
}
.container  .two .xin .ddf4{
	font-size: 0.45rem;
	margin-left: 3.13rem;
	margin-top: -0.6rem;
	color: #32D79D;
}
.container  .two .xin .ddf5{
	font-size: 0.45rem;
	margin-left: 5rem;
	margin-top: -0.6rem;
	color: #FFBF3C;
}
.container  .two .xin .ddf6{
	font-size: 0.45rem;
	margin-left: 5.3rem;
	margin-top: -0.6rem;
	color: #FFD039;
}
.container  .two .xin .ddf7{
	font-size: 0.45rem;
	margin-left: 5.6rem;
	margin-top: -0.6rem;
	color: #FFE136;
}
.container  .two   .tiao{
	width: 7.32rem;
	height: 0.8rem;
	background: #F3FAFD;
	/* background: red; */
	border-bottom: 1px solid white;
	margin-top: -0.3rem;
	position: relative;
	margin-bottom: 0.45rem;
}
.container  .two   .tiao img{
	width: 0.3rem;
	height: 0.3rem;
	/* margin-top: -0.2rem; */
	/* margin-left: 0.2rem; */
	position: absolute;
	left: 0.5rem;
	top: -0.6rem;
}
.container  .two   .tiao .ddf8{
	position: absolute;
	left: 0.8rem;
	top: 0.1rem;
	font-size:0.3rem;
}
.container  .two   .tiao .ddf9{
	position: absolute;
	left:5.1rem;
	top: 0.1rem;
	font-size:0.3rem;
	color: #FD7565;
}
.container  .two   .xin .ddf22{
	position: absolute;
	left:0.75rem;
	top: 2.99rem;
	font-size:0.2rem;
	color: #C4C4C4;

}
.container  .two   .xin .ddf23{
	position: absolute;
	left:2.8rem;
	top: 2.99rem;
	font-size:0.2rem;
	color: #C4C4C4;

}
.container  .two   .xin .ddf25{
	position: absolute;
	left:5.2rem;
	top: 2.99rem;
	font-size:0.2rem;
	color: #C4C4C4;

}
.container  .two   .tiao:nth-child(6){
	width: 8.32rem;
	height: 0.8rem;
	background: #F3FAFD;
	/* background: red; */
	border-bottom: 1px solid white;
	margin-top: -0.3rem;
	position: relative;
	/* margin-bottom: 0.45rem; */
}
footer{
    width: 100%;
    height: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 0 .54rem;
    background: #F6FBFF;
    margin-top: 0.2rem;
}
footer ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
footer li{
    width: .49rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: .08rem;
}
footer li img{
    height: .4rem;
    color: #59c3fe;
    line-height: .55rem;
    text-align: center;
    display: block;
    margin:0 auto
}
footer li i{
    font-size: .45rem;
    color: #59c3fe;
    line-height: .55rem;
    display: block;
    margin:0 auto
}
footer li h3{
    display: flex;
    font-size: .22rem;
    color: #59c3fe;

}